*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bod{
    width:80%;
    height:60%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:black;
    text-align: center;

}
.slider{
    width: 96%;
    margin-block: 45px;
    text-align: center;
    
}
.slider-div{
    width: 100%;
    height: 220px;
}

.cont{
    width: 90%;
    height: 250px;
    margin: 0px auto;
    object-fit:fill;
    border-radius: 15px;
}