*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.emptycart_main{
    width:100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:whitesmoke;
}
.emptycart_wrap{
    width: 65%;
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #0C764C;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    border-radius: 8px;

}
.emptybotton{
    width:105px;
    height:35px;
    /* background: none; */
    border: 1px solid #0C764C;
    border-radius: 6px;
    font-size: 15px;
    color:whitesmoke;
    background:#e6790c ;
    position: relative;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;  
}
.emptybotton:hover{
    transform: scale(1.1);
    opacity: 9;
    background-color:#e6790c ;
    color: rgb(199, 175, 175);;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 24)0px 3px 8px;

}
span{
    color:#f68b1f;
    font-size: 14px;
}
.emptycart_logo{
    width: 180px;
    height: 180px;
    border-radius: 180px;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cart-Holder{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Cart-Box h2{
    color:#0C764C
}
.Cart-Box{
    width: 60%;
    min-height: 40%;
    text-align: center;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    background-color: white;
    color:#0C764C;
    border-radius: 8px;
    /* background: grey; */
    box-shadow:0 0 1px rgba(0, 0, 0, 24)0px 3px 8px ;
}
.Cart-Title{
    display: flex;
    padding: 5px;
    position: sticky;
    top: 150px;
    justify-content: space-between;
    background-color:#0C764C;
    width: 100%;
    color: aliceblue;
    /* background: red; */
}
.Cart-Title h4:hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.Cart-Items{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 10px;
    max-height: 80%;
    overflow-y: scroll;
    /* align-items: center; */
    /* background-color: yellow; */
}
.Cart-Item{
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.Cart-Item p:hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.Cart-Item img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.Cart-Calc{
    width: 80px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.Cart-Calc button{
    width: 30px;
    height: 30px;
    /* border-radius: 25px; */
    border: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    background:#24835d;
    color:white;
}
.delete {
    border: none;
    background-color: white;
    font-size: 16px;
}
.delete:hover {
    cursor: pointer;
    color: red;
 }
.Cart-Check{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cart-Check button{
    background-color: rgb(189, 29, 189);
    color: white;
    width: 30%;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 350ms;
    transform: scale(1)
}
.Cart-Check button:hover{
    background-color: rgb(83, 8, 117);
    transition: all 350ms;
    transform: scale(1.005);
}

@media screen and (max-width: 720px){
    .emptycart_wrap{
        width: 80%;
    }
}
@media screen and (max-width: 625px){
    .emptycart_wrap{
        width:90%;
        background: none;
        color:#0C764C;
        min-height:70vh
    } 
    .emptycart_logo{
        background:#0C764C;
     
    }
}
@media screen and (max-width: 625px){
    .Cart-Box{
        width:85%;
        border: none;
        height:70%;
        min-height: 30vh;
        background: none;
    }  
}