*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.Main-Body {
 min-height:100%;
  width: 100%;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_wrap{
  width:90%;
  height: 30%;
  display: flex;
 /* background: blue; */
 justify-content: space-around;
 /* margin-top: 70px; */
 
}
.Agri-main{
    width:40%;
    display: flex;
    justify-content: space-between;
    /* min-height:30vh; */
    background: greenyellow;

}
.piccont{
  width:100%;
  border-radius: 10px;
}
.Textxx{
  width: 80%;
 margin-top: 10px;
  min-height: 20vh;
}
.big_text{
  color:#24835d;

}

.peesu{
  width:100%;
  border-radius: 10px;
  margin-top: 10px;
  height:80%;
 
}

.vbnt{
  width:130px;
  height:30px;
  background: none;
  border: 1px solid #0C764C;
  border-radius: 6px;
  font-size: 15px;
  color:snow;
  background:#24835d ;
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
}
.vbnt:hover{
  transform: scale(1.1);
  opacity: 9;
  background-color:#24835d;
  color: whitesmoke;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 24)0px 3px 8px;
}
.landing_body{
  width:100%;
  min-height: 50vh;
  margin-top: 25px;
  /* background: snow; */
  display: flex;
  flex-direction: column;
  text-align: center;
  /* color: aliceblue; */
  justify-content: center;
  align-items: center;
}
.landing_body_wrap{
  display: flex;
}
.land_delivery{
  width: 100%;
  min-height: 35vh;
  margin-top: 25px;
  background:#24835d;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("./pie/t1.png");
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: 40%; */
}
.land_delivery_text{
  color: aliceblue;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.land_div_img{
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.land_delivery_image{
  width: 80%;
}
.feedback_landing{
  margin-top: 15px;
  width: 90%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.feedback_wrap{
  width: 85%;
  height:fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
 
}
.first_feedback{
  width:fit-content;
  height: fit-content;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 24)0px 3px 8px;
}
.feedback_imag{
  width: 120px;
  height: 120px;
  border-radius: 120px;
  display: flex;
  justify-content:center;

}
.fidtext{
  text-align: center;
  font-size: small;
}
.About_us{
  width: 90%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: pink; */
  margin-top: 30px;
}
.about_button{
  width:130px;
  height:30px;
  background-color:white;
  color:#24835d;
  background: none;
  border: 1px solid #0C764C;
  border-radius: 6px;
  font-size: 15px;
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
}
.about_button:hover{
  transform: scale(1.1);
  opacity: 9;
  background-color:#0C764C;
  color: whitesmoke;
  border-radius: 12px;
}



@media screen and (max-width: 768px){
  .main_wrap{
      flex-direction: column;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;

  }
  .Textxx{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;

  }

  .Agri-Main{
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
  }
  .piccont{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
  }
  .rele{ 
    justify-content: center;
    align-items: center;

  }
  .smalltip{
    text-align: center;
    width: 100%;
  }
  .land_delivery{
    display: flex;
    flex-direction: column;
  }
  .land_delivery_text{
    width: 90%;
    padding-top: 20px;

  }
  .land_div_img{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .land_delivery_image{
    width: 80%;
  }
  .feedback_wrap{
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: 25px; */
  }
  .first_feedback{
    padding-bottom: 25px;

  }
}
@media screen and (max-width: 375px){

  .big_text {
    font-size: 1.7rem;
 }

 .smalltip {
   font-size: 1.02em;
 }
}

@media screen and (max-width: 320px){

  .big_text {
    font-size: 1.5rem;
 }

 .smalltip {
   font-size: 0.8rem;
 }
}

@media screen and (max-width: 768px) {
  .about_button {
    background-color: #0C764C;
    color: white;
  }
}