* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
}
.User {
    width: 100%;
    height:100vh;
    background-color: #0C764C;  
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Image {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
  }
  .img {
    color:black;
  }
  .imgHolder {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 220px;
    height:100px ;
  }
  .Remove {
    width:100px;
    height:40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0C764C;
    background: none;
    border-radius: 5px;
    font-size:1.2rem;
}
  .Remove:hover {
    background-color:#0C764C;
    cursor: pointer;
  }
  .Image {
   background-color: white;
   border-radius: 50%;
   height: 100px;
   width:100px;
  }
.file {
    display: none;
}
.Choose {
    width:100px;
    height:40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0C764C;
    background: none;
    border-radius: 5px;
}
.Choose:hover {
    background-color: #0C764C;
    color: white;
    cursor: pointer;
}
.User2 {
    width: 70%;
    height: 90vh;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.img2Holder {
    width:60%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.me2 {
    width: 70%;
    height:80px;
    /* background-color: darkblue;  */
}
.jpg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.old {
   display: flex;
justify-content: space-around;
align-items: center;
/* background-color: darkmagenta; */
}
.up {
   width:95px;
   height: 40px;
   border: 1px solid #0C764C;
   background: none;
   border-radius: 10px;
   cursor: pointer;
   font-size: 15px;
}
.up:hover {
    background-color: #0C764C;
}
.Info1 {
    width:60%;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.change {
    display: flex;
    align-items: center;
}
.Names {
    width:100%;
    height:70px;
    /* background-color: cadetblue ; */
    display: flex;
    justify-content: space-around;
}
/* .firstName {
    width: 50%;
    height:70px;
    background-color: chartreuse;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
}
.firstname {
    width: 100%;
    outline: none;
    border-radius: 5px;
    height: 30px;
} */
.secondName {
    width: 50%;
    height:70px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-around;
    flex-direction:column;
}
.add {
    width: 100%;
    height: 60px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.address {
        margin-left:8px ;
}
.res {
    width: 94%;
    height:30px;
     outline: none;
     border-radius: 5px;
 
}
.state {
    width:100%;
    height:70px;
    /* background-color: cadetblue ; */
    display: flex;
    justify-content: space-around;
}
.firstName {
    width: 45%;
    height:70px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
}
.firstname {
    width: 90%;
    height:30px;
    outline: none;
    border-radius: 5px;
}
.information1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.information {
    width:95%;
    height:30px;
    border-radius: 6px;
    cursor: pointer;
   background-color:white;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 7px;
   font-size: 12px;
}