* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Profile {
    width: 100%;
   height:100vh;
    background-color: #0C764C;
    /* border-radius: 15px; */
    display: flex;
}

.Prof1 {
    width:35%;
    height: 500px;
    background-color: #0C764C;
    border-radius: 15px;
    
}
.new {
    display: none;
}
@media screen and (max-width: 760px) {
    .Burger {
      display: flex;
    }
    .new{
        display: none;
    }
}
.profHolder {
    width: 90%;
    height:100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
     border-radius: 15px;
     position: relative;
}
.iconsWord {
   width: 60%;
   /* background-color: red; */
   height: 350px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
}
.iconword1 {
    height: 60px;
    /* background-color: blue; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconword1:hover {
    background-color:#0C764C;
    cursor: pointer;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    font-weight: 550;
    font-size:15px;
    color:white;
    transition: 0.3s;
}
.iconword2 {
    height: 60px;
    /* background-color: blueviolet; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconword2:hover {
    background-color:#0C764C;
    cursor: pointer;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    font-weight: 550;
    font-size:15px;
    color:white;
    transition: 0.3s
}

.iconword3 {
    height: 60px;
    /* background-color: rebeccapurple; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.iconword3:hover {
    background-color:#0C764C;
    cursor: pointer;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    font-weight: 550;
    font-size:15px;
    color:white;
    transition: 0.3s
}
.iconword4 {
    height: 60px;
    /* background-color: royalblue; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconword4:hover {
    background-color:#0C764C;
    cursor: pointer;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    font-weight: 550;
    font-size:15px;
    color:white;
    transition: 0.3s
}
set {
   
    text-decoration: none;
}
.Prof2 {
    width: 65%;
    height:100vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.texts {
    width: 280px;
    /* background-color: red; */
    display: flex;
    justify-content:center;
    align-items: center;
    height:30px;
    color: white;
}
.side-bar {
    width:100%;
    height: 600px;
    /* background-color:coral; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.side-bar1 {
    width:400px;
    height:200px;
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload {
    width:300px;
    height: 200px;
    /* background-color: cornsilk; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.uploadImg {
    width:100%;
    height: 180px;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pics {
    width:100px;
    height:100px;
    border-radius: 50%;
}
.textsWord {
    width: 120px;
    height: 90px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 80px; */
}
.textsWord1  {
    width:100%;
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.textsWord2  {
    width:100%;
    height: 40px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-bar2 {
    width:90%;
    height:300px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.inputHolder {
    width:69%;
    /* background-color: cornflowerblue; */
    height: 180px;
}
/* label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  
  input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
  } */
.name1{
    width:42%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
    margin-top: 15px;
} 
.name2{
    width:42%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
    margin-top: 15px;

} 
.name3{
    width:42%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
    margin-top: 15px;
} 
.name4{
    width:42%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
    margin-top: 10px;
    margin-top: 15px;

} 
.name5{
    width:15%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
    margin-top: 15px;
} 
.name6{
    width:42%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
    margin-top: 15px;

} 
.update {
    width: 100px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 13px;
}
.update:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}
.page {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2 {
    width:60%;
    height: 600px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.success {
    width: 70%;
    height: 350px;
}
.curve {
    width:70%;
    /* background-color: yellow; */
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3 {
    width: 100%;
    height: 120px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.back {
    background-color: #0C764C;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}


.Personal-Info {
    width: 90%;
    height: 500px;
    background-color: tomato;
}