*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.about_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: violet;
    margin-top: 54px;
    width: 100%;
    min-height: 100vh;
}

.about_wrap{
    width: 75%;
    text-align: center;
    margin-bottom:50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    /* background: blueviolet; */
    height: 83vh;
}
.about-us-page {
    width:100%;
    height: 14%;
    background-color: #0C764C;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.about-us-page h1 {
    color: white;
    text-decoration: underline;
}
.about-us-page p {
    color: white;
}

.about-us-page2 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.abt-us-page21 {
    width: 45%;
    height: 100%;
    /* background-color: brown; */
    background-image: url("../../../assets/poult.jpg");
}
.abt-us-page22 {
    width: 54.1%;
    height: 100%;
    /* background-color: blue; */
    text-align: justify;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.About-Main2 {
    width: 90%;
    height: 60vh;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Choose {
    height: 15vh;
    width: 35%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.Choose-Reason {
    width: 94%;
    height: 70%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.About_mission{
    width: 280px;
    height: 75%;
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.about_img{
    width:35%;
    height: 40%;
    /* border-radius: 120px; */
    /* background-color: red; */
}
.about_small_text {
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    /* .para1 {
        font-size: 0.9rem;
    } */

    .about_wrap {
        min-height: 140vh;
    }

    .our_mission {
        height: 85vh;
    }
}

@media screen and (max-width: 425px) {
    .about_wrap {
        min-height: 200vh;
        /* margin-top: 10px; */
    }
    .our_mission {
        height: 120vh;
    }
}

@media screen and (max-width: 320px) {
    .about_wrap {
       width: 80%;
    }
}