.Main-Body {
  height:350px;
  background-color: aqua;
}
.Agri-Text {
    height:300px;
    background-color: aquamarine;
    display: flex;
}
.Agri-Text1 {
    width: 45%;
    background-color: bisque;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Products {
    width: 400px;
    height: 60px;
    background-color: blueviolet;
    font-size: 20px;
    color: white;
    line-height: 1.3;
    margin-right: 120px;
}
.Order {
    width:390px;
    background-color: brown;
    color: white;
    margin-right: 120px;

}
.Agri-Text2 {
    width: 50%;
    background-color: blue;
    height: 300px;
}
/* .Agri-Text {
    width:45%;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Text1 {
    width:500px;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.Text2 {
    width:500px;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}
.Products {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}
.Shopping {
    height: 300px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Image-Holder1 {
    width: 300px;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items:center;
    height:300px;
}
.Image-Holder2 {
    width: 300px;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items:center;
    height:300px;

}
.img1 {
 height: 270px;
 border-radius: 40px;
 width: 250px;
}
.img2 {
    height: 270px;
    border-radius: 40px;
    width: 260px;
   } */