*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.password_main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.password-wrap{
    width: 50%;
    height: 30vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;

}
.password_input{
    height: 35px;
    width: 70%;
    border-radius:12px ;
    margin-bottom: 12px;

}
.password_button{
    width: 65%;
    height: 35px;
    background: #24835d;
    color:aliceblue;
    border: none;
    margin-top: 10px;
    border-radius: 12px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.password_button:hover{
    transform: scale(1.1);
    opacity: 9;
    background-color:#24835d;
    color: whitesmoke;
    border-radius: 12px;
}
.password_text{
    font-size: 13px;
    color:#24835d;
}
.nomail{
    font-size: 14px;
}
.resendtext{
    color: #24835d;
    cursor: pointer;
    margin-top: 10px;
}
.email_main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 759px) {
    .password-wrap{
        width: 85%;

    }
}
