* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main-Header {
    height : 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:chartreuse; */
}
.Logo-Holder {
    width : 250px;
    height:60px;
    cursor: pointer;
}
.Header-Text {
    width: 300px;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Accounts {
    width:300px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Acct-one {
    width:100px;
    height:40px;
    background: none;
    border: 1px solid #0C764C;
    border-radius: 6px;
    font-size: 15px;
}
.Acct-one:hover {
    background-color: #0C764C;
    color: white;
    cursor: pointer;
}
.Acct-two {
    width:100px;
    height:40px;
    background-color: #0C764C;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
}
.Livestock-Products {
    height: 250px;
    background-color: blue;
    width: 100%;
}