*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.Dashboard_origin{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.dashboard_head{
    width: 100%;
    height: 70px;
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 15px;
}
.main_dash{
    width:95%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: paleturquoise;
    margin-top: 10px;
}
/* h4{
    color:white;
    cursor: pointer;
} */
.dash_sidebar{
    width:18%;
    height: 100%;
    background:#24835d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}
.dash_maincont{
    width:80%;
    height:100%; 
    background: tomato;
}
.dash_icon{
    display: none;
}
.Dashsidemenu_main{
    position:absolute;
    left: 2px;;
    top: 22%;
    background:#0C764C;
    color:white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:250px;
    height:300px;
    z-index:100;
    display:none;
    box-shadow:0 0 1px rgba(0, 0, 0, 24)0px 3px 8px ;
}
.Dashsidemenu_wrap{
    width:200px;
    height:250px;
    /* background: greenyellow; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.dasth3{
    
    cursor: pointer;
    padding: 10px;
    color:whitesmoke;
    /* color:black; */
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.dasth3:hover{
    transform: scale(1.1);
    opacity: .9;
    /* background: rgb(134, 132, 132); */
    background: white;
    color:#0C764C;

}

@media screen and (max-width: 768px) {
    .dash_sidebar{
        display:none;
    }
    .dash_maincont{
        width:95%;
    }
    .dash_icon{
        display: flex;
    }
    .wc{
        display: none;
    }
    .Dashsidemenu_main{
        display:flex
    }

}